@font-face {
    font-family: 'lobster_twobold';
    src: font_url('lobstertwo-bold-webfont.woff2') format('woff2'),
         font_url('lobstertwo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobster_twobold_italic';
    src: font_url('lobstertwo-bolditalic-webfont.woff2') format('woff2'),
         font_url('lobstertwo-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobster_twoitalic';
    src: font_url('lobstertwo-italic-webfont.woff2') format('woff2'),
         font_url('lobstertwo-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lobster_tworegular';
    src: font_url('lobstertwo-regular-webfont.woff2') format('woff2'),
         font_url('lobstertwo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}